:root {
	--color-red:    #ab5852;
    --color-blue:   #476066;
    --color-beige:  #eadaa0;
    --color-green:  #838469;
    --color-yellow: #d69e49;
	--color-green-dark: #1e4a28;
	--color-green-light: #51a16a;
	--color-light-skin-tone: #e6c994;
	--color-tangerine: #c45335;
}
