@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/*font-family: 'Noto Sans JP', sans-serif;*/

/*fine accent colors*/
root{
    --accent-red: #ab5852;
    --accent-blue: #476066;
    --accent-beige: #eadaa0;
    --accent-green: #838469;
    --accent-yellow: #d69e49;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #203545;
    color: #ffffff;
}