/**
TODO: enhance mobile support
**/


html, body {
	height: 100%;
}

#text {
	width: 97%;
	height: fit-content;
	background-color: #9f9f9f0a;
	font-size: 5rem;
	color: var(--color-light-skin-tone); 
	display: block;
	margin: 15px;
	border-radius: 16px;
	border: none;
	height: fit-content;
	resize: none;
}
textarea:focus {
    border: none;
	outline: none;
}

help-bubble {
	width: 64px;
	margin: 15px;
}