/**
TODO: enhance mobile support
**/


html, body {
	height: 100%;
}

#text {
	width: 97%;
	height: 64%;
	background-color: #9f9f9f0a;
	font-size: 5rem;
	color: var(--color-light-skin-tone); 
	display: block;
	margin: 15px;
	border-radius: 16px;
	border: none;
	resize: none;
}
textarea:focus {
    border: none;
	outline: none;
}

help-bubble {
	width: 64px;
	margin: 15px;
}

#zoom, #zoom-toggle {
	background-color: #9f9f9f0a;
	border-radius: 100rem;
	margin: 15px;
	padding: 15px;
}

#zoom > input {
	width: auto;
	background-color: #00000007;
	font-size: 2rem;
	border-radius: 15px;
}