@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Sans+TC&family=Noto+Sans+Vai&family=Noto+Sans+NKo&family=Noto+Sans+SC&family=Noto+Sans+Devanagari&family=Noto+Sans&family=Noto+Sans+Mono&display=swap'); /*import Noto Sans JP and Noto Sans Mono*/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap'); /*import Material Symbols Outlined*/
@import url('https://cdn.jsdelivr.net/gh/SebastianAigner/twemoji-amazing/twemoji-amazing.css'); /*import Twemoji*/

.noto {
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.noto_zh {
	font-family: "Noto Sans SC", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.noto_trad {
	font-family: "Noto Sans TC", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.mono {
	font-family: "Noto Sans Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.noto_light {
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: 250;
	font-style: normal;
}

.mono_heavy {
	font-family: "Noto Sans Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

.icon, 
.symbol {
	font-family: "Material Symbols Outlined";
	font-size: 1em; 
} 